h1 {
    padding: 20px;
}

p {
    display: inline-block;
    padding-right: 10px;
    padding-left: 25px;

}
form {
    margin-left: 100px;
}

table {
    width: 800px;
    border-collapse: collapse;
    margin: 50px auto;
}

table thead tr th {
    border: 2px solid darkblue;
    border-collapse: collapse;
    font-size: 18px;
    height: 35px;
}

table tbody tr td {
    padding: 5px;
    border: 2px solid darkblue;
    height: 30px;
    text-align: center;
    font-size: 17px;
}

.submit {
    width: 150px;
    margin-left: 40%;
    margin-top: 20px;
    height: 35px;
    font-weight: bold;
    border: none;
    background-color: green;
    color: white;
    border-radius: 10px;
}