#navbar{
    height: 50px;
    background-color: #d2e5ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navbar a{
    padding: 10px;
    margin-inline-end: 50px;
}

#navbar a:hover{
    background-color: black;
    color:white;
}
